:root {
    --accent-color: #2196F3;
    --background-color: #757575;

    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

.link {
    text-decoration: none;    
}

.list * {
    list-style: none;
}

img {
    display: block;
}

.logo, button, .link {
    cursor: pointer;
}

.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;

    color: var(--accent-color);
}

.header-logo-span {
    color: #000000;
}

.nav-link, .contact-link {
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 1,14;
    letter-spacing: 0.02em;
}

.nav-link {
    color: #212121;
}

.contact-link {
    color: var(--background-color);
}

.nav-link:hover, .contact-link:hover, 
.nav-link:focus, .contact-link:focus {
    color: var(--accent-color);
}

/* header css end, start of the body css */

.order {
    background-color: #2F303A;
    color: #FFFFFF;

    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.order-button {
    background-color: var(--accent-color);
    color: #FFFFFF;
    
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    text-align: center;
    letter-spacing: 0.06em;
}
.order-button:hover {
    background-color: #188CE8;
}

.features {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.features-text {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;

    color: var(--background-color);
}

.team{
    background-color: #F5F4FA;
}

.h2text {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.teamname {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.teamtext {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--background-color);
}

/* body css end, start of the footer css */

footer, address {
    background-color: #2F303A;
    font-style: normal;
}

.footer-logo-span {
    color: #FFFFFF;
}

.address-street {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.address-mail-tel {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

/* index.html footer css end, start of the portfolio.html body css */

.filters-button {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    background-color: #F5F4FA;
}

.filters-button:hover, .filters-button:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
}

.portfolio-works {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;

    color: #212121;
}

.portfolio-works-filter{
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;

    color: var(--background-color);
}